  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --page-height:calc(100vh - 36px);
    font-family: 'Varela Round', sans-serif;
}
#logo {
    align-items: center;
    color: rgb(252, 164, 49);
    display: flex;
    font-size: 12px;
    height:36px;
    text-decoration: none;
}

#logo img{
    display: inline-block;
    margin: 10px;
    height: 36px;
}

 /* layout  */
.nav__list{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav{ 
    display: block;
    height: 36px;
    background-color: black;
}

.editor {
    display:flex;
    height: var(--page-height);
}

.editor__tools{
    background-color: black;
    color: white;
    height: var(--page-height);
    width: 56px;
    flex-direction: column;
    text-align: center;
    font-size: 10px;
    overflow: scroll;
}

.tools__open img{
    width: 24px;
    height: 24px;
}

.tools__open{
    padding:14px 4px;
}

.editor__tools::-webkit-scrollbar{
    display: none;
}

.editor__view{
    background-color: #202020;
    flex: 1;
}

.editor__platform-config{
    width: 256px;
    background-color: black;
    height: var(--page-height);
}

/* hover effect */
.tools__open:hover{
    background-color: rgb(77, 74, 74);
}

/* canvas */
.editor__view{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view__canvas{
    display: block;
    background-color: white;
    margin: auto;
}

.view__container{
    display:flex;
    height: 95%;
    width: 95%;
}

.resizer__input{
    width: 75px;
    padding: 5px;
}

.platform-config__resizer{
    color: white;
    padding: 20px;
    overflow: hidden;
}

.platform-config__tool{
    color:white;
    text-align: center;
}

.platform-config__tool--icon{
    width: 25px;
    height: 25px;
    position: relative;
    top: 7px;
}

/* editor tools config */
.editor__tools--config {
    background-color: black;
    color: white;
    flex: 1;
    max-width: 215px;
    border-left-style:solid;
    border-left-color: aliceblue;
    border-left-width: 5px;
}

.tools__open--active {
    background-color: grey;
}

.tools__open img, .tools__open div {
    pointer-events: none;
}

.editor__tools--config img{
    display: block;
    margin-left: auto;
}

.drawing__config {
    color: white;
}

.config__title{
    display: block;
}
.config__colors{
    display: flex;
}

.color__label.color__label--black {
    background-color: black;
}
.color__label.color__label--blue {
    background-color: blue;
}
.color__label.color__label--red {
    background-color: red;
}
.color__label.color__label--green {
    background-color: green;
}
.color__label.color__label--eraser{
    background-color:white;
}

.config--hidden {
    display: none;
}

.color__label{
    background-color: white;
    border: 1px solid white ;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.color__label:active {
    background-color: rgb(0, 255, 255);
}

.paint-bucket{
    background-color: black;
}

.config__shape {
    background: white;
    color: black;
    display: inline-block;
    padding: 5px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
}

.config__title{
    margin:20px 0px;
}

#shapes__config, #drawing__config {
    text-align: center;
}

#resizer__file {
    display: none;
}

#resizer__file--label{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    margin: 5px;
}